<footer class="bg-green-500  bottom-0 left-0 w-full z-50">
  <!-- Centered Content -->
  <div class="relative flex flex-col justify-center items-center h-full">
    <!-- Container with background image and blur effect -->
    <div class="mask back w-full h-full absolute inset-0 bg-cover bg-center">
      <!-- Blur and Color Overlay -->
      <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm"></div>

      <div class="text-center justify-center mx-auto p-16">
        <!-- Content on top of the blurred background -->
        <h1 class="text-center text-white text-4xl font-bold relative z-20">About Us</h1>
        <div class="py-4 text-center text-white text-lg relative z-20">
          Our job is to ensure that your brand is effectively
          EVENTED
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center py-4 bg-green-600 text-white">
    Designed by Keneth
  </div>
</footer>
