.back {
  background-image: url("/assets/2.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
}
.mask{
  background-color: rgba(157, 232, 185, 0.5);

}
