<header class="h-20 flex items-center outline-none border-none p-2 z-50 fixed top-0 cursor-pointer bg-green-500 w-full">
  <div class=" container flex items-center justify-around w-full px-4">
    <div class="text-2xl text-white cursor-pointer" (click)="toggleSidebar()">
      <ng-icon name="heroBars4"></ng-icon>
    </div>
    <div class="text-white">
      <p class="text-2xl bold">Events MANAGEMENT SYSTEM</p>

    </div>
    <div class="text-white flex items-center cursor-pointer relative" (click)="toggleUserDropdown()">
      <img src="../assets/boy.png" alt="User avatar" class="w-10 h-10 rounded-full mr-2" />
      <p>{{userDetailsData?.username}}</p>
      <ng-icon name="heroChevronDown" class="ml-2"></ng-icon>
      <ul [ngClass]="{
            'max-h-0 opacity-0': !isUserDropdownOpen,
            'max-h-40 opacity-100': isUserDropdownOpen
          }"
          class="absolute right-0 top-full mt-2 bg-white text-black rounded shadow-md py-2 w-40 transition-all duration-300 ease-out overflow-hidden z-50">
        <li class="block px-4 py-2 hover:bg-gray-200" routerLink="/profile">Profile</li>
        <li class="block px-4 py-2 hover:bg-gray-200" routerLink="/settings">Settings</li>
        <li class="block px-4 py-2 hover:bg-gray-200" (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
</header>

<div class="flex h-screen mt-20 ">
  <div [ngClass]="isSidebarCollapsed ? 'w-16' : 'w-60'" class="transition-all duration-300 outline-none border-none
      cursor-pointer bg-green-500 shadow-md h-full fixed top-20 left-0 z-40 font-serif">
    <div class="mt-0">
      <hr class="border-0 border-t border-white ">
    </div>
    <div class=" flex mt-2 justify-center cursor-pointer relative">
      <img src="../assets/boy.png" alt="User avatar" class="w-20 h-20 rounded-full" />
    </div>

    <div class="mt-3">
      <hr class="border-0 border-t border-white mb-2">
    </div>

    <ul class="space-y-4  w-full ml-4">
      <li *ngFor="let link of links" class="text-2xl flex flex-col" [routerLink]="link.route"
          routerLinkActive="active">
        <div class="flex items-center cursor-pointer  hover:bg-gray-200" (click)="handleLinkClick(link)">
          <ng-icon [name]="link.icon" class="mr-3"></ng-icon>
          <span *ngIf="!isSidebarCollapsed">{{ link.label }}</span>
          <ng-icon *ngIf="link.children" name="heroChevronDown" class="ml-3"></ng-icon>
        </div>

        <!-- Dropdown menu for nested links -->
        <ul *ngIf="link.children" [ngClass]="{
                'max-h-0 opacity-0': !link.isOpen,
                'max-h-40 opacity-100': link.isOpen
              }" class="transition-all duration-300 ease-out overflow-hidden">
          <li *ngFor="let child of link.children" class="text-lg pl-8 py-2 hover:bg-gray-200 cursor-pointer"
              [routerLink]="child.route">
            {{ child.label }}
          </li>
        </ul>
      </li>
    </ul>

  </div>

  <div [ngClass]="isSidebarCollapsed ? 'ml-16' : 'ml-60'"
       class="flex-1 bg-slate-200 h-full p-4  transition-all duration-300 font-serif">
    <router-outlet></router-outlet>
  </div>
</div>
